# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
max_line_length = 100

[*.{kt,java}]
ij_any_method_call_chain_wrap = on_every_item
ij_any_wrap_first_method_in_call_chain = true
ij_any_call_parameters_wrap = on_every_item
ij_any_call_parameters_new_line_after_left_paren = true
ij_any_call_parameters_right_paren_on_new_line = true

ij_any_parentheses_expression_right_paren_on_new_line = true
ij_any_parentheses_expression_new_line_after_left_paren = true

ij_any_method_parameters_wrap = on_every_item
ij_any_prefer_parameters_wrap = true

ij_any_ternary_operation_signs_on_next_line = true
ij_any_ternary_operation_wrap = on_every_item

ij_kotlin_name_count_to_use_star_import_for_members = 50
ij_kotlin_name_count_to_use_star_import = 50
